body {
    width: 1100px;
    height: 3028px;
}

.header {
    display: flex;
    justify-content: flex-start;
    width: 1100px;
    height: 105px;
    margin-top: 93px;
    margin-left: ;
    margin-bottom: 94px;
}

.header__menu {
    display: flex;
    width: 450px;
    height: 22px;
    margin-left: 26.52px;
}

.header__links-list {
    display: flex;
    flex-wrap: nowrap;
    width: 477px;
    height: 22px;
    margin-top: 44px;
}

.header__link {
    display: flex;
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    text-align: left;
}

.header__links-list-item {
    width: 151px;
    height: 21px;
    margin-left: 26px;
    list-style-type: circle;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    letter-spacing: em;
    text-align: left;
}

.header__links-list-item-nobullit {
    width: 67px;
    height: 21px;
    top: 44px;
    margin-left: 24px;
    list-style-type: none;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    text-align: left;
    list-style-type: circle;
}

.header__link_active {
    width: 150px;
    height: 22px;
    margin-top: 44px;
    margin-left: 20px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 300;
}

.header-logo {
    width: 148px;
    height: 100%;
}

.header__logo-image {
    width: 129.11px;
    height: 104.65px;
    margin-top: 1.16px;
    margin-left: 9.03px;
}

.address-mail {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    letter-spacing: 0.01em;
    text-align: left;
}
.header__address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 240.52px;
    margin-left: 185px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    text-align: left;
}

.address {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    text-align: left;
    font-style: normal;
}

.cover {
    background-image: url(/images/cover.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: 1100px;
    height: 757px;
    color: rgb(255, 255, 255);
    position: absolute;
    z-index: -1;
}

.overlay {
    position: absolute;
    width: 1100px;
    height: 757px;
    background-color:rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.cover__title {
    width: 1000px;
    height: 355px;
    margin-top: 2px;
}

.title {
    padding-left: 10px;
    padding-top: 165px;
    width: 1000px;
    height: 355px;
}

 .aligned-text {
    width: 316px;
    height: 115px;
    padding-left: 40px;
}

.aligned-text_center {
    display: flex;
    width: 369px;
    height: 100px;
    margin-top: 12px;
    margin-left: 326px;
}

.aligned-text_left {
    display: flex;
    width: 417px;
    height: 100px;
    margin-top: 19px;
    margin-left: 624px;
}

.no-letter-spacing {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 0.3em;
    text-align: left;
}

.letter-spacing-extended {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 0.6em;
    text-align: left;
}

.cover__description {
    display: flex;
    width: 1100px;
    height: 40px;
    margin-top: 300px;
    color: white;
    margin-bottom: 30px;
}

.cover__description-text {
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    word-spacing: 1em;
    margin-left: 78px;
}

.bet-button {
    display:flex;
    justify-content:center;
    align-items: center;
    width: 256px;
    height: 51px;
    margin-left: 58px;
    border: 1px 0px 0px 0px;
    border-color: white;
    font-size: 22px;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    background: transparent;
    color:white;
}

.lots {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 692px;
    margin-top: 1000px;
    margin-bottom: 100px;
}

.lots-head {
    display: flex;
    width: 121px;
    height: 47px;
    margin-left: 40px;
}

.lots__heading {
    font-size: 50px;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    width: 121px;
    height: 47px;
    margin-left: 25px;
    margin-top: 21px;
    text-transform: lowercase;
}

.lots__card-list {
    display: flex;
    margin-left: 24px;
    margin-top: 58px;
}

.overlay-card {
    position: absolute;
    width: 334px;
    height: 564px;
    background-color:rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.card-one {
    color: white;
    width: 334px;
    height: 563px;
    margin-right: 25px;
    background-image: url(/images/card-lot-01.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.card-two {
    color: white;
    width: 334px;
    height: 563px;
    margin-right: 25px;
    background-image: url(/images/card-lot-02.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.card-three {
    color: white;
    width: 334px;
    height: 563px;
    background-image: url(/images/card-lot-03.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.card-link {
    font-family: Raleway;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-align: left;
    margin-top: 51px;
    margin-left: 39px;
    margin-right: 40px;
}

.lots__card-list-item-one {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 242px;
}

.lots__card-list-item-two {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 48px;
    margin-left: 40px;
    margin-right: 40px;
}

.lots__card-list-item-three {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-top: 95px;
    margin-left: 40px;
    margin-right: 40px;
}

.lots__look-more-link {
    display: flex;
    align-content: center;
    justify-content: center;
    color: black;
    width: 212px;
    height: 23px;
    margin-top: 30px;
    margin-left: 54px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
    text-align: left;
    text-decoration: underline;
}

.about-ellipse {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 300px 700px;
    margin-left: 59px;
    }
    
.section-logo {
    border-radius: 80%;
    background-color: black;
    width: 240px;
    height: 240px;
    margin-top: 112px;
    margin-left: 12px;
}

.logo-image-about {
    background-size: ;
    background-repeat: no-repeat;
    margin-top: 64px;
    margin-left: 0.48px;
    height: 114px;
}

.about-title {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-content: center;
    text-transform: uppercase;
    margin-left: 24px;
    margin-top: 27px;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
    width: 291px;
    height: 421px;
}

.about-text-begin-start {
    display: inline;
    width: 688px;
    height: 193px;
    margin-top: 360px;
    margin-left: 25px;
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.about-text-begin {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1%;
    text-align: left;
}

.about-text-begin-two {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.about-text-begin-three {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: left;
}

.about-text-begin-forth {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -1%;
    text-align: left;
}

.about-text-begin-five {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 3%;
    text-align: left;
}

.about-text-continue-start {
    display: inline;
    width: 693px;
    height: 174px;
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 56px;
    margin-left: 24px;
}

.about-text-continue {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.about-text-continue-one {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 4%;
    text-align: left;
    margin-left: 1px;
}

.about-text-continue-two {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1%;
    text-align: left;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 98px;
    
    margin-left: 50px;
    margin-right: 50px;
}

.footer__menu-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    width: 149px;
    height: 64px;
}

.footer__social-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer__social-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    width: 240px;
    height: 48px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
    margin-bottom: 20px;
}
